#title {
  text-decoration: none;
  text-align: center;
  font:100px black solid;
  display:block;
}
#contents {
  display: grid;
  grid-template-columns: 140px 1fr;
}
.article {
  padding-top: 10px;
  margin-left: 50px;
}
.article p {
  margin-left: 100px;
  margin-right: 100px;
}
.menu {
  background-color: tomato;
}

a {
  text-decoration: none;
  font:20px black solid;
}
a:link {
  color:red;
  text-decoration: none;
}

a:visited {
  color:black;
  text-decoration: none;
}
a:hover {
  color:red;
  text-decoration: none;
}
a:active {
  color:black;
  text-decoration: none;
}
